<section class="light" id="about">
    <img class="background" src="images/motion-background.jpg" alt="motion-background" />

    <h2>About Me</h2>
    <img src="images/headshot.png" style="height: 9%; width: 10%; object-fit: cover;" alt="headshot" />

    <div style="background-color: white; width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
        <p class="large">Software Engineer</p>
        
        <hr />
    </div>
</section>

@code {

}
