<section class="dark" id="home">
    <img class="background" src="images/background-geo.jpg" alt="background-geo" />

    <div style="position: absolute; top: 30%; left: 2rem;">
        <h1>Eric Mantonya</h1>
        <h2>Software Engineer</h2>
    </div>
    <div style="position: absolute; bottom: 3rem; left: 50%;">
        <a href="#about" target="_top">
            <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem;" alt="scroll down" />
        </a>
    </div>
</section>

@code {

}
