<div id="header" style="position: fixed;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: rgba(230, 248, 255, 0.75);
  padding: 1rem;
  top: 0;
  width: 100%;
  z-index: 10;">
    <a href="#home" target="_top">Home</a>
    <a href="#about" target="_top">About</a>
    <a href="#portfolio" target="_top">Portfolio</a>
    <a href="#contact" target="_top">Resume</a>
</div>